* {
	font-family: 'Indie Flower', cursive;
}
.navbar-brand{
	padding: 0px;
	margin-top: 0px;
}

#body-title{
	margin-top: -10px;
	font-size: 2em;
	font-weight: bold;
}
#content-topic{
	font-size: 2em;
	font-weight: bold;
}
#body-content{
	background-color: #999999;
	height: 500px;
	overflow: auto;
}
#collapsable-nav{
	background-color: #bbbb88;
}
#header-nav, .collapse-item{
	border-style: solid;
	border-color: #222222;
	border-width: 2px;
}
#header-nav{
	background-color: #aaaaaa;
}